<html>
  <head>
    <style>
      body {font-size: 16pt}
      .container {display: flex; margin: 2px}
      .col {flex-direction: column; margin-left: 10px; margin-right: 10px}
      .row {flex-direction: row; margin: 2px}
      .image {margin: 2px}
    </style>
  </head>
  <body>
    <%= yield %>
    <form method="post" action="/reset">
      <input type="submit" value="Reset" onClick="this.form.submit(); this.disable=true; this.value='Resetting...'; ">
    </form>
  </body>
</html>