<html>
  <head>
    <title>Mastermind</title> 
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%= yield %>
    <form method="post" action="/reset">
      <input type="submit" value="Reset" onClick="this.form.submit(); this.disable=true; this.value='Resetting...'; ">
    </form>
  </body>
</html>